<div class='item-main'>
  <div class='form-wrap3'>
    <%= render 'shared/loading' %>
    <%= render 'shared/header' %>
    <div class="kitchen-container-notice">
    <table class="notice-table">
      <thead>
        お知らせ
      </thead>
        <tbody>
          <% (@items + @calendars).sort_by { |item| item.is_a?(Item) ? item.date : item.start_date }.each do |item| %>
            <tr>
              <td>
                <% if item.is_a?(Item) %>
                  <% if item.date < @today %>
                    <% if item.date_type.id == 4 %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の期限が過ぎています" %>
                    <% else %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の#{item.date_type.name}が過ぎています" %>
                    <% end %>
                    <br><br>
                    <%= link_to "食材を確認しに行く 😬💦", kitchen_items_path(item.kitchen), class: "notice-link" %>
                  <% elsif item.date <= @one_week_later %>
                    <% if item.date_type.id == 4 %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の期限が近づいています" %>
                    <% else %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の#{item.date_type.name}が近づいています" %>
                    <% end %>
                    <br><br>
                    <%= link_to "食材を確認しに行く 😐", kitchen_items_path(item.kitchen), class: "notice-link" %>
                  <% end %>
                <% elsif item.is_a?(Calendar) %>
                  <% if item.start_date == @today %>
                    今日は「<%= item.title %>」の日です
                  <% elsif item.start_date == @one_week_later %>
                    1週間後に「<%= item.title %>」です
                  <% end %>
                  <br><br>
                  <%= link_to "カレンダーを確認する 📅", calendars_path, class: "notice-link" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <script src="button.js"></script>
    <%= render 'shared/icon_edit' %>
  </div>
</div>
