<div class='item-main'>
  <div class='form-wrap3'>
    <%= render 'shared/loading' %>
    <%= render 'shared/header' %>
    <div class="kitchen-container-notice">
    <table class="notice-table">
      <thead>
        お知らせ
      </thead>
        <tbody>
          <% if @items.present? %>
            <% @items.each do |item| %>
              <tr>
                <td>
                  <% if item.date < @today %>
                    <% if item.date_type.id == 4 %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の期限が過ぎています" %>
                    <% else %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の#{item.date_type.name}が過ぎています" %>
                    <% end %>
                    <br>
                    <%= link_to "食材を確認しに行く", kitchen_items_path(item.kitchen) %>
                  <% elsif item.date <= @one_week_later %>
                    <% if item.date_type.id == 4 %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の期限が近づいています" %>
                    <% else %>
                      <%= "#{item.kitchen.kitchen_type.name}(#{item.kitchen.name})にある、「#{item.name}」の#{item.date_type.name}が近づいています" %>
                    <% end %>
                    <br>
                    <%= link_to "食材を確認しに行く", kitchen_items_path(item.kitchen) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>

          <% if @one_week_later_calendar.present? && @one_week_later_calendar.start_date == @one_week_later %>
            <tr>
              <td>
                1週間後に「<%= @one_week_later_calendar.title %>」です
                <br>
                <%= link_to "カレンダーを確認する", calendars_path %>
              </td>
            </tr>
          <% end %>
          <% if @today_calendar.present? %>
            <tr>
              <td>
                今日は「<%= @today_calendar.title %>」の日です
                <br>
                <%= link_to "カレンダーを確認する", calendars_path %>
                </td>
              </tr>
          <% end %>

        </tbody>
      </table>
    </div>
    <script src="button.js"></script>
    <%= render 'shared/icon_edit' %>
  </div>
</div>
