<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'registration-main', local: true, method: :patch do |f| %>

<div class='form-wrap_edit'>
<%= render 'shared/loading' %>
  <div class='form-header'>
    <h1 class='form-header-text'>
      登録情報の変更
    </h1>
  </div>
  
  <div class='login-flash-message'>
    <%= render 'devise/shared/error_messages', resource: @user %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">nickname</label>
    </div>
    <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"ぱーぺき", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">email</label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでもOK", autofocus: true %>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">birthday</label>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                f.date_select(
                  :birth_date,
                  class:'select-birth',
                  id:"birth-date",
                  use_month_numbers: true,
                  prompt:'--',
                  start_year: 1930,
                  end_year: (Time.now.year - 5),
                  date_separator: '%s'),
                "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">password</label>
    </div>
      <%= f.password_field :current_password, class: "input-default", id: "current-password", placeholder: "登録済みのパスワード" %>
    </div>
  <div class='register-btn'>
    <%= f.submit "更新" ,class:"register-blue-btn", id: "submit-btn" %>
  </div>
  <%= render 'shared/icon_edit' %>
</div>
<% end %>