<div class='item-main'>
  <div class='form-wrap3'>
    <%= render 'shared/loading' %>
    <%= render 'shared/header' %>
    
    
    <div class="kitchen-container">
      <div class="slide-container">
        <div class="slide slide-1">キッチン</div>
        <div class="slide slide-2">キッチン 2</div>
        <div class="slide slide-3">キッチン 3</div>
        <div class="slide slide-4">キッチン 4</div>
        <% @kitchens.each do |kitchen| %>
          <!-- 冷蔵庫 -->
          <% if kitchen.type_id == 2 %>
            <div id="refrigerator_<%= kitchen.id %>" class="draggable refrigerator" data-type="<%= kitchen.type_id %>">
              <%= render 'shared/refrigerator', type_id: kitchen.type_id %>
            </div>
          <% end %>
          <!-- 冷蔵庫 -->

          <!-- 大型冷蔵庫 -->
          <% if kitchen.type_id == 3 %>
            <div id="refrigerator_large_<%= kitchen.id %>" class="draggable refrigerator_large" data-type="<%= kitchen.type_id %>">
              <%= render 'shared/refrigerator_large', type_id: kitchen.type_id %>
            </div>
          <% end %>
          <!-- 大型冷蔵庫 -->

          <!-- 棚 -->
          <% if kitchen.type_id == 4 %>
            <div id="shelf_<%= kitchen.id %>" class="draggable shelf" data-type="<%= kitchen.type_id %>">
              <%= render 'shared/shelf', type_id: kitchen.type_id %>
            </div>
          <% end %>
          <!-- 棚 -->

          <!-- 箱 -->
          <% if kitchen.type_id == 5 %>
            <div id="box_<%= kitchen.id %>" class="draggable box" data-type="<%= kitchen.type_id %>">
              <%= render 'shared/box', type_id: kitchen.type_id %>
            </div>
          <% end %>
          <!-- 箱 -->
          <script>
          $(function() {
          $(".draggable").draggable({
            containment: ".slide-container",
            stop: function(event, ui) {
              const id = $(this).attr('id');
              const top = ui.position.top;
              const left = ui.position.left;
              localStorage.setItem(id + "_position", JSON.stringify({ top: top, left: left }));
            }
          });

          $(".draggable").each(function() {
            const id = $(this).attr('id');
            const storedPosition = localStorage.getItem(id + "_position");
            if (storedPosition) {
              const position = JSON.parse(storedPosition);
              $(this).css({ top: position.top + 'px', left: position.left + 'px', position: 'absolute' });
            }
          });
        });
        </script>
        <% end %>
        
      </div>
      <div class="slide-container bottom"></div>
      <div class="slide-control left">&lt;</div>
      <div class="slide-control right">&gt;</div>
    </div>

    <script src="button.js"></script>
    <%= render 'shared/icon_type' %>
  </div>
</div>
