<div class="item-main">
  <div class="form-wrap3">
    <%= render 'shared/loading' %>
    <%= render 'shared/header' %>

    <div class="kitchen-container_item">

      <!-- kitchenのビュー -->
      <%= render 'shared_item/kitchen' %>
      <!-- kitchenのビュー -->

      <!-- corridorのビュー -->
      <%= render 'shared_item/corridor' %>
      <!-- corridorのビュー -->

      <!-- gardenのビュー -->
      <%= render 'shared_item/garden' %>
      <!-- gardenのビュー -->

      <!-- storageのビュー -->
      <%= render 'shared_item/storage' %>
      <!-- storageのビュー -->
      
    </div>

    <script src="button.js"></script>
    <%= render 'shared/icon_top' %>
  </div>
</div>
