<!DOCTYPE html>
<html>
  <head>
    <title>PerpetualKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '_reset', media: 'all' %>
    <%= stylesheet_link_tag 'reset', media: 'all' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
